.addForm{
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 99;
    width: 100%;
    height: calc(100vh - 90px);
    background-color: #fff;
        &__inputs{
            width: 250px;
            margin: 0 auto;
            margin-top: 100px;
                &--input{
                    width: 100%;
                    display: block;
                    margin-bottom: 20px;
                    border-bottom: 2px solid #171948;
                    padding: 0 0 10px 10px;
                    @include wideFont(#171948, 1.1rem, 400, 1rem, 1px);
                        &--add{
                            display: block;
                            margin: 0 auto;
                            padding: 10px 40px;
                            @include button(#B30025, rgb(172, 27, 56), 1.2rem, #fff);
                        }
                }
        }
        &--delete{
            position: absolute;
            bottom: 20px;
            right: 20px;
            @include button(#B30025, rgb(172, 27, 56), 1.2rem, #fff);
            padding: 10px 20px;
        }
        &--addInfo{
            margin-top: 15px;
            @include wideFont(#B30025, 1.1rem, 300, 1rem, 1px);
            text-align: center;
        }
        &--deletedInfo{
            @include wideFont(#B30025, 1.1rem, 300, 1rem, 1px);
            margin-top: 15px;
            text-align: center;
        }
}
