.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: 10px 20px;
    font-size: .9rem;
        a:hover{
            text-decoration: underline;
        }
}