@import './app';
@import './header';
@import './mainView';
@import './addForm';
@import './card';



.display{
    position: absolute;
    top: 90px;
    z-index: 99;
}
.hide{
    display: none !important;
}

.displayGame{
}
