@import './app';
@import './header';
@import './mainView';



.display{
    position: absolute;
    top: 200px;
    left: 45%;
    z-index: 98;
}
.hide{
    display: none !important;
}

.displayGame{
}
